* {
    box-sizing: border-box;
    user-select: none;
    font-family: arial;
}
input[type=file] {
    display:none;
}
button, label {
    border-radius: 0px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    padding: 1px 6px;
    font-size: 0.8em;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#controls #shape {
    line-height: 1.5rem;
    font-size: 1.5rem;
}
#controls #palette {
    height:100%;
    width:55px;
    padding:10px;
    background-color:rgba(0,0,0,0.1);
}
#controls #brush {
    flex-grow: 1;
    min-height: 0px;
    height: 100%;
    width: 50px;
    appearance: slider-vertical;
}


#layers {
    align-self:flex-end;
    margin-bottom:20px;

    width: 120px;
}
#layers * {
    position: relative;

    display:block;
    cursor: pointer;
    color: #222;

    box-shadow: 10px 10px #222;
    background-color: #CCC;
    outline:none;
    border:none;
    border-left: 5px solid #BBB;

    height:60px;
    line-height:60px;

    margin-top: 20px;

    transition: width 0.05s, transform 0.05s, box-shadow 0.05s;
}
#layers button {
    font-size:4rem;
    width: 60px;
}
#layers button:hover {
    width: 72px;
}
#layers button:active, #layers itmas-layer:active {
    box-shadow: 5px 5px #222;
    transform:translate(0px, 5px);
    width: 77px;
}
#layers itmas-layer {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
#layers itmas-layer.selected {
    background-color: #EEC;
    border-left-color: #DDB;
}
#layers itmas-layer:hover {
    width: 120%;
}
#layers itmas-layer:active {
    width: calc(120% + 5px);
}
#layers #add-layer {
    background-color: #CDC;
    border-left-color: #BCB;
}
#layers #remove-layer {
    background-color: #DCC;
    border-left-color: #CBB;
}

#content {
    display: flex;

    height: 90vh;

    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}
#card {
    display: flex;
    gap: 20px;
    padding: 20px;

    box-shadow: 10px 10px #222;
    background-color: #EEE;
}

#grid {
    display: grid;
    aspect-ratio: 1/1;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 49.5% 49.5%;
    gap:1%;

    /*height: 100%;*/
    height: calc(90vh - 40px); /* This fixes a Firefox display bug */
}
#grid * {
    width: 100%;
    height: 100%;
}
#grid #three-canvas {
    cursor: grab;
    border: 1px solid black;
}
#grid #three-canvas:active {
    cursor: grabbing;
}
